.options {
  height: 100%;
  max-height: 10rem;
}

.options Button {
  display: block;
}

p {
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 700;
}

.actions.uiMode Button {
  background-image: url("../../Icons/nav-option/lightMode.svg");
}

.actions.sound Button {
  background-image: url("../../Icons/nav-option/soundOn.svg");
}

.actions.fullscreen Button {
  background-image: url("../../Icons/nav-option/fullscreen.svg");
}

.actions.resign Button {
  background-image: url("../../Icons/nav-option/resign.svg");
}

.actions Button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}
