.scores {
  font-family: "Share Tech Mono", monospace;
  text-shadow: var(--text-shadow-1);
  display: flex;
  justify-content: space-between;
  background-image: var(--background-color-7);
  margin-top: 1rem;
  padding: 16px 32px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-6);
  position: relative;
}

.score {
  width: 7rem;
  height: 38px;
  display: flex;
  justify-content: space-around;
  border-right: var(--score-border);
  padding-right: 20px;
  align-items: center;
}

.score:last-child {
  border-right: none;
  padding-right: 0;
}

.score:hover .tooltip {
  visibility: visible;
}

.tooltip {
  position: absolute;
  top: 120%;
  color: var(--color-1);
  margin: 0 0.5rem;
  visibility: hidden;
}
