.holder {
  width: 38px;
  height: 38px;
  box-shadow: var(--box-shadow-7);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color-8);

  letter-spacing: -0.15em;
  font-size: 24px;
  background-clip: text;
  -webkit-text-fill-color: var(--text-fill-color-1);
}
