.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input label {
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

.input input {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 32px;
}

.action button {
  margin-top: 1rem;
}
