.button {
  width: 60px;
  height: 60px;
  background-color: #e3edf7;
  padding: 0.9rem 1rem;
  border-radius: 20px;
  border: none;
  box-shadow: -4px -2px 16px #ffffff, 4px 2px 16px rgba(136, 165, 191, 0.48);
  cursor: pointer;
}

.button:active {
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(136, 165, 191, 0.48);
  border: 1px solid rgb(255, 255, 255);
  background-size: 23px;
}
