.card {
  background: var(--background-color-6);
  width: 100%;
  max-width: 30.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30.1rem;
  max-height: 100%;
  border-radius: 24px;
}
