.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: hidden;
  cursor: pointer;
  gap: 10px;
  background-image: var(--background-color-1);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: var(--color-1);
  box-shadow: (--box-shadow-4);
  font-weight: 400;
}

.container:active {
  box-shadow: var(--box-shadow-5);
}

.container svg {
  width: 24px;
  height: 24px;
}
