.cell {
  /* visibility: hidden; */
  background-image: var(--icon-cell-default), var(--background-color-3);
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #e3edf7; */
  border-radius: 35px;
  /* mix-blend-mode: overlay; */
  /* background-blend-mode: overlay; */

  box-shadow: var(--box-shadow-2);
  width: 100px;
  height: 100px;
  font-size: 42px;
  cursor: pointer;
  transition: background-image 0.2s;
}

.cell:hover {
  background-image: var(--cell-hover);
}

.holder {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
